BasedOnStyle: WebKit
TabWidth: 4
Language: Cpp
ColumnLimit: 120
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
BraceWrapping:
    BeforeLambdaBody: false
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SortIncludes: false
FixNamespaceComments: true
NamespaceIndentation: None
IndentPPDirectives: AfterHash